@font-face {
  font-family: 'Roboto-Bold';
  src: url('../assets/font/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('../assets/font/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../assets/font/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../assets/font/Roboto-Regular.ttf') format('truetype');
}
